body{
  font: 15px/1.2 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background: url("../images/1-hero-image.jpg") no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% 100%;
}
/*global*/
.container{
  width: 90%;
  margin: 0 0 0 60px;
  overflow: hidden;
  color: #ffffff;
}
ul{
  margin: 0;
  padding: 0;
}

/* header */
header{
  margin-top: 80px;
}
header h1{
  text-transform: uppercase;
    font-size: 24px;
    font-weight: lighter;
}
header a{
  color: #D6CBB9;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}
header nav{
  float: right;
  margin-top: 5px;
  font-weight: bold;
}
header a:hover{
  color: #A7B478;
}
/*section*/
#showcase{
  margin-top: 45px;
}
#showcase h2{
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1;
}
#showcase p{
  margin-top: -10px;
  font-size: 18px;
  line-height: 1.5;
}
#requestEmail{
  margin-top: 20px;
}
#requestEmail p{
  font-size: 20px;
}
#requestEmail span{
  text-transform: uppercase;
  font-weight: bold;
}
#requestEmail input[type=email] {
  width: 360px;
  height: 35px;
  padding: 2px 20px;
  border-radius: 5px;
  border-style: none;
}
#requestEmail input[type=email]:focus{
  outline: none;
}
#requestEmail button{
  width: 280px;
  height: 35px;
  margin: 5px 0 0 0;
  border-radius: 5px;
  border-style: none;
  background-color: #FF564F;
  color: #ffffff;
  font-weight: bold;
}
#requestEmail button:focus{
  outline: none;
}
